<div>
  <button type="button success" access-to-form="emailForm" disabled-by-form ng-click="demoVm.submit(demoVm.data, injectedForm)">Submit</button>
</div>

<div>
  <form name="emailForm" form-delegate on-demand-validation server-validation="demoVm.submitProm">
    <label>Name:
      <input type="text" name="name" required ng-pattern="/^[a-zA-Z\- ]+$/" ng-model="demoVm.data.name" validate-only-correction />
      <div ng-messages="emailForm.name.$error" ng-if="!emailForm.name.$validatable">
        <small class="error" ng-message="required">Required</small>
        <small class="error" ng-message="pattern">Invalid character found</small>
        <small class="error" ng-message="server">{{serverErrors.name}}</small>
      </div>
    </label>
    <label>Email:
      <input type="email" name="email" required ng-model="demoVm.data.email" validate-only-correction />
      <div ng-messages="emailForm.email.$error" ng-if="!emailForm.email.$validatable">
        <small class="error" ng-message="required">Required</small>
        <small class="error" ng-message="email">Incorrect email format</small>
        <small class="error" ng-message="server">{{serverErrors.email}}</small>
      </div>
    </label>
  </form>
</div>
